<root>
<div class="col-sm-2">
  <input type="text" id="txtsearch" name="SearchName" placeholder="Search..." style="display:block;"/>
</div>
<div style="text-align:right">
    <input type="button" id="btnEntrollStudent" name="btnEntrollStudent" value="Entroll" style="background-color: rgb(14, 64, 106); color: white; "/>
</div>
  <div id="diverrormsg" name="diverrormsg" style="display:none">
    <label id="lblerrorMsg" style="margin-bottom:20px;margin-left:500px;color:red;" name="lblerrorMsg">No Records Found</label>
  </div>
<br/>
<div id="gridbindstudent">

</div>
 </root>